.music-player {
  display: flex;
  align-items: flex-start;
  width: 600px;
  margin: 0 auto;
}

.track-list {
  width: 200px;
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.track-item {
  padding: 10px;
  cursor: pointer;
}

.track-item:hover {
  background-color: #f0f0f0;
}

.track-item.active {
  background-color: #ddd;
  font-weight: bold;
}

.player-controls {
  flex-grow: 1;
  padding-left: 10px;
  text-align: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.controls button {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.seekbar-container {
  margin-top: 10px;
}

.seekbar-container input[type="range"] {
  width: 100%;
}
