body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.news-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  padding: 20px;
  max-width: 300px;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

.card img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.card div {
  margin-bottom: 10px;
}

.card-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-author {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.card-content {
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}
.dropdowndiv {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-right: 30px;
}
.select {
  width: 20vw;
  border-radius: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin-top: 20px;
}

.navigation button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navigation button:hover {
  background-color: #0056b3;
}

button {
  width: 10vw;
}
